@using RunGroops.ViewModels;
@model LoginViewModel
@{
	ViewData["Title"] = "Login";
}
@*
<div class="row">
	<div class="col-md-6 offset-3">
		<p>
			Log in to your account
		</p>
		@if (TempData["Error"] != null)
		{
			<div class="col-md-12 alert alert-danger">
				<span><b>Sorry!</b> - @TempData["Error"]</span>
			</div>
		}
		<div class="row">
			<div class="col-md-8 offset-2">
				<form asp-action="Login">
					<div asp-validation-summary="ModelOnly" class="text-danger"><</div>
					<div action="form-group">
						<label asp-for="EmailAddress" class="control-label"></label>
						<input asp-for="EmailAddress" class="form-control" />
						<span asp-validation-for="EmailAddress" class="text-danger"></span>
					</div>
					<div action="form-group">
						<label asp-for="Password" class="control-label"></label>
						<input asp-for="Password" class="form-control" />
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input class="btn btn-outline-success float right" type="submit" value="Login" />
						<a class="btn btn-outline-secondary" asp-controller="Club" asp-action="Index">Cancel</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
*@
<div class="login-page bg-light">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 offset-lg-1">
				<div class="col-md-6 offset-3">

					@if (TempData["Error"] != null)
					{
						<div class="col-md-12 alert alert-danger">
							<span><b>Sorry!</b> - @TempData["Error"]</span>
						</div>
					}
				</div>
				<div class="bg-white shadow rounded">
					<div class="row">
						<div class="col-md-7 pe-0">
							<div class="form-left h-100 py-5 px-5">
								<h4>Login to your account!</h4>
								<form asp-action="Login" class="pt-3">
									<div asp-validation-summary="ModelOnly" class="text-danger"><</div>
									<div action="form-group">
										<label asp-for="EmailAddress" class="control-label"></label>
										<input asp-for="EmailAddress" class="form-control" />
										<span asp-validation-for="EmailAddress" class="text-danger"></span>
									</div>
									<div action="form-group">
										<label asp-for="Password" class="control-label"></label>
										<input asp-for="Password" class="form-control" />
										<span asp-validation-for="Password" class="text-danger"></span>
									</div>
									<div class="form-group pt-4">
										<input class="btn btn-outline-dark float right" type="submit" value="Login" />
										<a class="btn btn-outline-secondary" asp-controller="Club" asp-action="Index">Cancel</a>
										<a asp-controller="Account" asp-action="Register" class="ps-3 text-dark">I don't have an account</a>
									</div>
									
								</form>
							</div>
						</div>
						<div class="col-md-5 ps-0 d-none d-md-block">
							<div class="form-right h-100 bg-dark text-white text-center pt-5">
								<h1 class="pt-5">WELCOME BACK TO</h1>
								<h1 class="pt-4 text-success fw-bold">RunGroops!</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>